/*
* Personalización Frente
*/ 
#sidebar li {
	display: inline;
}
/* @media (max-width: 1200px) {
	#colab {
	-moz-column-count:    4;
	-webkit-column-count: 4;
	column-count:         4;
	}
  }
  @media (max-width: 1000px) {
	#colab {
	-moz-column-count:    3;
	-webkit-column-count: 3;
	column-count:         3;
	}
  }
  @media (max-width: 800px) {
	#colab {
	-moz-column-count:    2;
	-webkit-column-count: 2;
	column-count:         2;
	}
  }
  @media (max-width: 400px) {
	#colab {
	-moz-column-count:    1;
	-webkit-column-count: 1;
	column-count:         1;
	}
  } */


 img[src$='#center']
 {
	 display: block;
	 margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
							 whatever floats your boat, but keep the
							 horizontal 'auto' for this to work */
	 /* whatever else styles you fancy here */
 }
 
 img[src$='#floatleft']
 {
	 float:left;
	 margin: 0.7rem;      /* this margin is totally up to you */
	 /* whatever else styles you fancy here */
 }
 
 img[src$='#floatright']
 {
	 float:right;
	 margin: 0.7rem;      /* this margin is totally up to you */
	 /* whatever else styles you fancy here */
 }